@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    background-image: url("./assets/topography.png");
    background-repeat: repeat;
}

/*image section*/

.avatar {
    margin-right: 10px;
    margin-left:auto;
}

p {
    color:#5e5e5e;
}


/*text section*/

h1 {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 30px;
}


.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-weight: 1000;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.name {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 1000;
    background: linear-gradient(to right, #30CFD0 0%, #41752d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.titler {
    text-transform: uppercase;
    color: #000000;
}

.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #4400ff;
}

.colortext {
    font-weight: 600;
    color: #000000;
}

/*div section*/

div {
  word-break: break-all;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.head {
    margin-bottom: 30px;
}

.container {
    display: flex;
}

.container-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: block ;
    box-shadow: 0px 0px 20px #b8b8b8;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    width: 100%;
}


footer{
    border: solid;
    margin-top: 30px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}